<!--The content below is only a placeholder and can be replaced.-->
<div style="position: fixed; top:0px; right:0px;">
  <label>User:</label>
  <input type="text" [(ngModel)]="user">
</div>
<div style="text-align:center">
  <h1>
    Websocket Clicker Game
  </h1>
  <div><button #gatherWood >Gather Wood</button></div>
  <div><button #mineCopper >Mine Copper</button></div>
  <div><button #repairWall >Repair the Wall</button></div>
</div>
<app-state-display></app-state-display>
  <div>
    Display:
    <p *ngFor="let msg of displayed">{{msg}}</p>
  </div>

<router-outlet></router-outlet>
